/* color: dark blue: 1E3A5F, light-beige: FAF8F5, 
gold: C79C5A, beige: D8C3A5 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: #1E3A5F;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-areas: 
    "header header nav"
    "main main main"
    "footer footer footer";
    gap: 16px;
}

/* Semantiska elementer */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    margin: 16px 0px 0px 32px;
}
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    gap: 32px;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: #1E3A5F;
    color: white;
}
article {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: 1px solid #C79C5A;
    padding: 16px 8px;
    
}

/* Klasser */
.stader {
    background-color: #FAF8F5;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid #C79C5A;
    border-bottom: 2px solid #C79C5A;
    background-image: url("images/bakgrund/ingress.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    
}

.ingress-interior {
    margin: 0px 32px;
}

.article-interior {
    margin: 0px 32px;
}

.stader-interior {
    margin: 0px 32px;
}

.footer-interior {
    margin: 0px 32px;
}

/* Länkar */
a {
    text-decoration: none;
}

nav a {
    color:#1E3A5F;
    padding: 16px;
}

footer a {
    color: #1E3A5F;
    background-color: #C79C5A;
}

.ingress a {
    background-color: #C79C5A;
    color: #FAF8F5;
}
nav a:hover {
    background-color: #D8C3A5;
}

/* Bilder */
img {
    width: 100%;
    height: auto;
}

.stader img {
    width: 30px;
    height: auto;
}

/* Mobil-läge */
@media (max-width: 900) {

}