/* 
- color: dark blue: 1E3A5F, light-beige: FAF8F5, gold: C79C5A, beige: D8C3A5;
- margin till main content: 16px 32px;
*/

/* Grundläggande styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: #1E3A5F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header nav nav"
    "main main main"
    "footer footer footer";
}

/* Semantiska elementer */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    margin: 0px 32px;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
    gap: 32px;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: #1E3A5F;
    color: white;
    border-top: 1px solid #C79C5A;
}
section {
    display: flex;
    flex-wrap: wrap;
    background-color: #FAF8F5;
    border-top: 1px solid #C79C5A;
    border-bottom: 1px solid #C79C5A;
}
form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    border: 1px solid #C79C5A;
    padding: 16px;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}
textarea {
    resize: horizontal;
    min-width: 100%;
    min-height: 10ch;
}

/* Klasser */
.om-teneriffa-interior {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #C79C5A;
    background-color: white;
    box-shadow: 0px 0px 8px #1E3A5F;
    padding: 16px 8px;
    flex: 1;
}

.stader {
    background-color: #FAF8F5;
}

.inledning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #C79C5A;
    border-bottom: 1px solid #C79C5A;
    background-image: url("images/bakgrund/ingress.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.om-oss {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 200px;
}

.stader-interior, .footer-interior, .article-interior, .inledning-interior, .kontakt, .om-oss, .om-teneriffa, .tjanster {
    margin: 16px 32px;
}

.footer-interior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stader-interior, .article-interior {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.stad-kort {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: 1px solid #C79C5A;
    padding: 16px 8px;
    flex: 1 1 150px;
    background-color: white;
    box-shadow: 0px 0px 8px #1E3A5F;
}

.om-teneriffa {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex: 1;
    gap: 16px;
}

.kontakt {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    flex: 1 1 200px;
}

.kontakt-rad {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.article-interior a, .stader {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    border: 1px solid #C79C5A;
    padding: 16px 8px;
    flex: 1 1 200px;
}

.dold {
    display: none;
}

.visa {
    display: block;
}

.tjanster {
    display: flex;
    gap: 16px;
    padding: 16px 8px;
    flex: 1;
}

/* Länkar */
a {
    text-decoration: none;
}

nav a {
    color:#1E3A5F;
    padding: 16px;
}

footer a {
    color: #1E3A5F;
}

footer a, .inledning a {
    background-color: #C79C5A;
    padding: 8px;
}

.inledning a {
    color: #FAF8F5;
}

.article-interior a {
    color:#1E3A5F;
}

button {
    border: none;
    color:#FAF8F5;
    background-color: #1E3A5F;
    padding: 3px 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 150px;
}

nav button {
    display: none;
}

/* Hover pseudoklass */
button:hover {
    background-color: #C79C5A;
}

.inledning a:hover {
    background-color: #1E3A5F;
}

nav a:hover {
    background-color: #1E3A5F;
    color: #FAF8F5;
}

footer a:hover {
    background-color: #D8C3A5;
}

.article-interior a:hover {
    transition: transform 0.10s ease;
    transform: scale(1.03);
    background-color: #C79C5A;
}

/* Texter */
.inledning p {
    margin-bottom: 32px;
    max-width: 50ch;
}

.kontakt p {
    max-width: 50ch;
}

p {
    max-width: 100ch;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

h2 {
    margin-bottom: 16px;
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

ul li {
    margin: 0 32px;
    font-size: 1.1rem;
}

.betona {
    font-weight: bold;
    color: #C79C5A;
}

/* Bilder */
img {
    width: 100%;
    height: auto;
}

.stader-kort img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #C79C5A;
    background-color: white;
}
.inledning img {
    display: none;
}

/* Mobil-läge */
@media (max-width: 900px) {
    /* Navigationbar under header*/
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }

    nav {
        justify-content: flex-start;
        margin: 0px 16px;
    }

    /* Visa inte bakgrund, istället visa en andra */
    .inledning {
        background-image: none;
    }

    .inledning img {
        display: flex;
    }

    /* Formulär går under texten */
    .kontakt, .tjanster {
        flex-direction: column;
    }
}

@media (max-width: 610px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }

    .inledning {
        background-image: none;
    }

    header {
        justify-content: center;
    }

    /* För hamburgermeny, utseende till nav*/
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    nav a {
        display: none;
    }

    nav button {
        display: flex;
        background-color: white;
        color: #1E3A5F;
        justify-content: center;
        align-items: center;
    }

    /* Öppen meny utseende */
    .oppen-meny {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .footer-interior {
        flex-direction: column;
        gap: 16px;
    }
}